{% extends 'base.html' %}
{% load static %}

{% block title %}Revision 2{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
        <div style="text-align: center;">
            {{ user.username }}
        </div>
        <div class="row">
            <div class="col-2">
                <a href="/home" class =" btn btn-primary">Volver</a>
            </div>
            <div class="col-8"></div>
            <div class="col-2">
                <a href="/logout" class =" btn btn-danger">Cerrar Sesión</a>
            </div>
        </div>
    {% else %}
    <a href="/login" class =" btn btn-primary">Iniciar Sesión</a>
</div>
{% endif %}
<hr>
{% if datosImagen %}
{% if revCompleta %}
    {{ revCompleta }}
{% endif %}

<div class="container my-3">
    <button id="guardarEtiqueta" class="btn btn-secondary">GUARDAR</button>
</div>
<div class="canvas-container">

    <canvas id="canvasImg" width="900" height="900" style="border: 1px solid black;" class="canvas img-fluid"></canvas>
    <img src={% static imagenDibujo %} alt="imagenActual" width="900" height="900" class="img-fluid" id="imagen">

</div>
<div class="container">
    <p>
        Imagen {{ datosImagen.id }}
    </p>
</div>

<form method="post" action="/crearRev2/">
    {%  csrf_token %}
    <input type="hidden" id="jsonNuevasEtiquetas" name="jsonNuevasEtiquetas">
    <div class="row mb-5">
        <div class="col-4">
            {% if primera != True %}
            <a href="/revision2A" class="btn btn-lg btn-warning"><</a>
            {% endif %}
            {% if revCompleta %}
            <input type="hidden" name="rCompleta" value="True">
            <a href="/revision1" class="btn btn-lg btn-warning">CANCELAR</a>
            {% else %}
            <input type="hidden" name="rCompleta" value="False">
            {% endif %}
        </div>
        <div class="col-4">
            <input type="hidden" id="botonRevisar" class="btn btn-dark btn-lg" value="REVISADA">
        </div>
        <div class="col-4">
            {% if ultima != True %}
            <a href="/revision2S" class="btn btn-lg btn-warning">></a>
            {% endif %}
        </div>
    </div>
    
</form>
{% else %}
<div class="container my-5">
    <b style="font-size: x-large;">El usuario no tiene imagenes por revisar</b>
</div>
{% endif %}

<script src="{% static 'js/revision2.js' %}"></script>

{% endblock %}